global:
  scrape_interval: 30s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["0.0.0.0:9090", '0.0.0.0:9100']
        labels:
            instance: prometheus
  - job_name: 'flaskapp'
    static_configs:
      - targets: ['{{ groups['appServer'][0] }}:8000']
  - job_name: 'nginx'
    metrics_path: /prometheus
    scrape_interval: 30s
    static_configs:
      - targets: ['{{ groups['monitoring'][0] }}:9111']